* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  font-size: 12px;
  line-height: 1.7;
  font-family: 'Open Sans';
}
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* navigation area */
.main-nav {
  width: 98%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  border-top: 1px rgba(14, 19, 24, 0.07) solid;
  border-bottom: 1px rgba(14, 19, 24, 0.07) solid;
  margin: 0px auto;
  align-items: center;
}
.main-nav > div {
  margin-left: 15px;
}
@media (min-width: 500px) {
  .main-nav > div {
    margin-left: 15px;
  }
}
.main-nav .logo img {
  width: 55px;
}
.main-menu {
  height: 80px;
}
@media only screen and (max-width: 950px) {
  .main-menu,
  .search-bar,
  .help-btn,
  .setting-btn,
  .creating-btn,
  .account-btn {
    display: none;
  }
}
.main-menu-inner {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  height: 100%;
}

.main-menu-inner a {
  text-decoration: none;
  margin-right: 30px;
  line-height: 80px;
  color: black;
}
@media (min-width: 500px) {
  .main-menu-inner a {
    margin-right: 30px;
  }
}

.main-menu-inner a:hover svg path {
  fill: #00c4cc;
}
.main-menu-inner a:hover span {
  color: #00c4cc;
}
.main-menu-inner span {
  color: #0e1318;
}
.main-menu-inner .main-menu-home {
  font-weight: 700;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-menu-inner .main-menu-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-menu-home .empty {
  width: 100%;
  border-radius: 5px;
  border: 4px #00c4cc solid;
}
.main-menu-home .home {
  color: #0e1318;
  margin-top: 5px;
  padding-bottom: 13px;
  height: 75px;
  line-height: 52px;
}
.main-menu-plus:hover .home {
  color: #00c4cc;
}
.main-menu-inner .main-menu-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main-menu-item svg {
  margin-top: 2px;
  margin-left: 2px;
  width: 14px;
}

.search-bar {
  width: 50%;
}

.search-bar .search-area {
  /*margin-left: 350px;
  width: 400px;*/
  margin-left: 50%;
  width: 50%;
  height: 45px;
  border: 1px rgba(14, 19, 24, 0.07) solid;
  border-radius: 5px;
  display: flex;
  justify-content: left;
  line-height: 45px;
  padding-left: 15px;
}
.search-bar .search-area img {
  width: 17px;
  margin-right: 15px;
}
.search-bar .search-input {
  font-size: 15px;
  font-family: inherit;
  font-weight: 300;
  width: 100%;
  border: none;
  outline: none;
}
.main-nav .help-btn a {
  color: black;
}
.main-nav .help-link {
  width: 40px;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  display: flex;
  justify-content: center;
  padding-top: 5px;
}
.main-nav .help-link:hover {
  background-color: gainsboro;
  border-radius: 4px;
}
.main-nav .setting-btn a {
  color: black;
}
.main-nav .setting-link {
  width: 40px;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  display: flex;
  justify-content: center;
  padding-top: 5px;
}
.main-nav .setting-link:hover {
  background-color: gainsboro;
  border-radius: 4px;
}
.main-nav .creating-btn {
  width: 140px;
  min-width: 140px;
  height: 45px;
}
.main-nav .creating-btn .btn-inner {
  color: #fff;
  background-color: #00c4cc;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 14px;
  font-family: inherit;
  outline: none;
}
.main-nav .creating-btn .btn-inner:hover {
  filter: brightness(110%);
}
.main-nav .account-btn {
  width: 40px;
}
.main-nav .account-btn img {
  width: 40px;
  border-radius: 50%;
}
/*
.search-bar .search-area {
  margin-left: 350px;
  width: 400px;
  height: 45px;
  border: 1px rgba(14, 19, 24, 0.07) solid;
  border-radius: 5px;
  display: flex;
  justify-content: left;
  line-height: 45px;
  padding-left: 15px;
}
.search-bar .search-area img {
  width: 17px;
  margin-right: 15px;
}
.search-bar .search-input {
  font-size: 15px;
  font-family: inherit;
  font-weight: 300;
  width: 100%;
  border: none;
  outline: none;
}
*/
.main-nav .creating-btn .design-area {
  width: 370px;
  height: 350px;
  border: 1px rgba(14, 19, 24, 0.07) solid;
  border-radius: 5px;
  overflow: scroll;
  padding-right: 0px;
  margin-left: -230px;
  margin-top: 10px;
  display: none;
  position: relative;
  z-index: 9999;
  background-color: #fff;
}
.show {
  display: block !important;
}
.main-nav .creating-btn .drop-down {
  width: 100%;
}
.main-nav .creating-btn .drop-down .search-field {
  width: 100%;
  height: 40px;
  border-bottom: 1px rgba(14, 19, 24, 0.07) solid;
  display: flex;
  justify-content: left;
  line-height: 40px;
  padding-left: 15px;
}
.main-nav .creating-btn .drop-down .search-field img {
  width: 17px;
  margin-right: 15px;
}
.main-nav .creating-btn .drop-down .search-input {
  font-size: 15px;
  font-family: inherit;
  font-weight: 300;
  width: 100%;
  border: none;
  outline: none;
}
.main-nav .creating-btn .drop-down ul {
  list-style-type: none;
}
.main-nav .creating-btn .drop-down ul li {
  font-size: 15px;
  color: #0e1318;
  font-family: inherit;
  font-weight: 300;
  width: 100%;
  height: 40px;
  line-height: 40px;
}
.main-nav .creating-btn .drop-down ul li:hover {
  background-color: rgba(14, 19, 24, 0.07);
}
.main-nav .creating-btn .drop-down ul li:hover .secondary {
  display: inline;
}
.main-nav .creating-btn .drop-down ul li a {
  outline: none;
  text-decoration: none;
  color: inherit;
}
.main-nav .creating-btn .drop-down ul li a i {
  width: 40px;
  height: 20px;
  margin-left: 10px;
}
.main-nav .creating-btn .drop-down ul .ins-con {
  color: #ff6348;
}
.main-nav .creating-btn .drop-down ul .facebook-icon {
  color: #227093;
}
.main-nav .creating-btn .drop-down .dropdown-title {
  color: gray;
  font-size: 12px;
  margin: 10px 25px;
}
.main-nav .creating-btn .drop-down .secondary {
  margin-left: 10px;
  color: gray;
  font-size: 12px;
  display: none;
}

.main-nav .dropdown-menu .dropdown-btn {
  border: none;
  background-color: #fff;
  outline: none;
  display: none;
  margin-right: 30px;
}
.main-nav .dropdown-menu .dropdown-btn:hover {
  cursor: pointer;
}
@media only screen and (max-width: 950px) {
  .main-nav .dropdown-menu .dropdown-btn {
    display: block;
  }
}
.left-show {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;
}

.left-show .dropdown-area {
  width: 270px;
  height: 1200px;

  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  font-size: 14px;
}
.left-show .dropdown-area .account-info {
  width: 90%;
  display: flex;
  justify-content: space-around;
  margin: 10px auto;
  height: 80px;
  align-items: center;
}
.left-show .dropdown-area .account-info img {
  width: 40px;
  border-radius: 50%;
  height: 40px;
}
.left-show .dropdown-area .account-info span {
  width: 150px;
  text-align: start;
  height: 40px;
  line-height: 40px;
}
.left-show .creating-btn {
  width: 140px;
  min-width: 140px;
  height: 45px;
}
.left-show .creating-btn .btn-inner {
  color: #fff;
  background-color: #00c4cc;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 14px;
  font-family: inherit;
  outline: none;
}
.left-show .creating-btn .btn-inner:hover {
  filter: brightness(110%);
}
.left-show .btn-primary {
  display: block !important;
  width: 200px;
}
.left-show .dropdown-area .menu-list {
  margin-top: 20px;
  width: 100%;
}
.left-show .dropdown-area ul {
  list-style-type: none;
}
.left-show .dropdown-area .menu-list .li-inner {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.left-show .dropdown-area ul li {
  margin-top: 20px;
  height: 30px;
}
.left-show .dropdown-area ul li:hover {
  border-left: 5px #00c4cc solid;
  cursor: pointer;
}
.left-show .creating-btn .design-area {
  width: 370px;
  height: 350px;
  border: 1px rgba(14, 19, 24, 0.07) solid;
  border-radius: 5px;
  overflow: scroll;
  padding-right: 0px;
  margin-left: -230px;
  margin-top: 10px;
  display: none;
  position: relative;
  z-index: 9999;
  background-color: #fff;
}
.show {
  display: block !important;
}
.left-show .creating-btn .drop-down {
  width: 100%;
}
.left-show .creating-btn .drop-down .search-field {
  width: 100%;
  height: 40px;
  border-bottom: 1px rgba(14, 19, 24, 0.07) solid;
  display: flex;
  justify-content: left;
  line-height: 40px;
  padding-left: 15px;
}
.left-show .creating-btn .drop-down .search-field img {
  width: 17px;
  margin-right: 15px;
}
.left-show .creating-btn .drop-down .search-input {
  font-size: 15px;
  font-family: inherit;
  font-weight: 300;
  width: 100%;
  border: none;
  outline: none;
}
.left-show .creating-btn .drop-down ul {
  list-style-type: none;
}
.left-show .creating-btn .drop-down ul li {
  font-size: 15px;
  color: #0e1318;
  font-family: inherit;
  font-weight: 300;
  width: 100%;
  height: 40px;
  line-height: 40px;
}
.left-show .creating-btn .drop-down ul li:hover {
  background-color: rgba(14, 19, 24, 0.07);
}
.left-show .creating-btn .drop-down ul li:hover .secondary {
  display: inline;
}
.left-show .creating-btn .drop-down ul li a {
  outline: none;
  text-decoration: none;
  color: inherit;
}
.left-show .creating-btn .drop-down ul li a i {
  width: 40px;
  height: 20px;
  margin-left: 10px;
}
.main-nav .creating-btn .drop-down ul .ins-con {
  color: #ff6348;
}
.left-show .creating-btn .drop-down ul .facebook-icon {
  color: #227093;
}
.left-show .creating-btn .drop-down .dropdown-title {
  color: gray;
  font-size: 12px;
  margin: 10px 25px;
}
.left-show .creating-btn .drop-down .secondary {
  margin-left: 10px;
  color: gray;
  font-size: 12px;
  display: none;
}

.left-show .dropdown-menu .dropdown-btn {
  border: none;
  background-color: #fff;
  outline: none;
  display: none;
  margin-right: 30px;
}
.left-show .dropdown-menu .dropdown-btn:hover {
  cursor: pointer;
}

@keyframes leftShowIn {
  0% {
    right: -270px;
  }
  100% {
    right: 0px;
  }
}

@keyframes leftShowOut {
  0% {
    right: 0px;
  }
  100% {
    right: -270px;
  }
}
/* main body area */
.main-body {
  width: 50vw;
  margin: 10px auto;
  display: flex;
  justify-content: space-evenly;
}
.left-nav {
  width: 270px;
  margin-left: 0px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #0e1318;
}
@media (min-width: 500px) {
  .left-nav {
    min-width: 270px;
    margin-left: 0px;
    position: fixed;
    left: 0;
  }
}
.left-nav .nav-list {
  width: 100%;
}

.left-nav .list-items {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  font-size: 15px;
  font-weight: 300px;
  list-style-type: none;
}
.left-nav .list-items .list-item {
  width: 100%;
  height: 40px;
  margin-top: 10px;
}
.left-nav .list-items .list-item:hover {
  background-color: rgba(14, 19, 24, 0.07);
  border-radius: 5px;
}
.left-nav .list-item a {
  outline: none;
  color: inherit;
  text-decoration: none;
  display: flex;
  justify-content: start;
  align-items: center;
  line-height: 40px;
  padding-left: 10px;
}
.left-nav .list-items .primary {
  background-color: rgba(14, 19, 24, 0.07);
  border-radius: 5px;
  font-weight: 700;
}
.left-nav .list-item a svg {
  margin-left: 10px;
}
.left-nav .list-item a span {
  margin-left: 10px;
}
.left-nav .crown-btn {
  position: fixed;
  bottom: 30px;
  margin-left: 40px;
  width: 220px;
  height: 40px;
}
.left-nav .crown-btn button {
  outline: none;
}

.left-nav .crown-btn .pro-btn {
  width: 100%;
  height: 100%;
  line-height: 40px;
  border: none;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left-nav .pro-btn:hover {
  background-color: #e5e5e5;
  cursor: pointer;
}
.left-nav .crown-btn .pro-btn svg {
  color: #fbbe28;
  min-width: 16px;
}
.left-nav .crown-btn .pro-btn span {
  font-size: 15px;
  min-width: 16px;

  margin-left: 10px;
}
.canva-pro {
  display: flex;
  justify-content: start;
  width: 1060px;
  height: 590px;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  background-color: transparent;
  z-index: 9999;
}
.pro-show {
  display: block !important;
}
.canva-pro img {
  width: 95%;
  height: 95%;
}
.canva-pro button {
  width: 27px;
  height: 27px;
  border: none;
  background-color: rgba(14, 19, 24, 0.2);
  color: #fff;
  border-radius: 50%;
  outline: none;
  position: absolute;
  top: 10px;
  right: 5px;
}
.canva-pro button:hover {
  cursor: pointer;
  background-color: #979dac;
}
#cover {
  position: absolute;
  left: 0px;
  top: 0px;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  opacity: 1;
  display: none;
  z-index: 888;
}

.right-area {
  /*width: 83%;*/
  width: 83%;
  min-width: 200px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 1400px) {
  .right-area {
    width: 80%;
  }
}
@media only screen and (max-width: 1200px) {
  .right-area {
    width: 70%;
  }
}
@media only screen and (max-width: 900px) {
  .right-area {
    width: 50%;
  }
}
@media only screen and (max-width: 600px) {
  .right-area {
    width: 30%;
  }
}

@media (min-width: 500px) {
  .right-area {
    position: fixed;
    left: 280px;
  }
}
.right-area .heroImage-area {
  width: 95%;
  height: 350px;
  border-radius: 8px;
}
@media only screen and (max-width: 1400px) {
  .heroImage-area {
    width: 80%;
  }
}
@media only screen and (max-width: 1200px) {
  .heroImage-area {
    width: 70%;
  }
}
@media only screen and (max-width: 900px) {
  .heroImage-area {
    width: 50%;
  }
}
@media only screen and (max-width: 600px) {
  .heroImage-area {
    width: 30%;
  }
}
.right-area .heroImage-window {
  background-image: url('Images/heroImage.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /*width: 1350px;*/
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
.right-area .heroTitle {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 350px;
}
@media (min-width: 300px) {
  .heroTitle {
    min-width: 90%;
  }
}
.right-area .heroTitle span {
  text-align: center;
}
@media (max-width: 1700px) {
  .heroTitle span {
    font-size: 2.8rem;
    font-weight: 700;
  }
}
@media (max-width: 700px) {
  .heroTitle span {
    width: 150px;
    height: 200px;
    font-size: 2.4rem;
    font-weight: 600;
    margin: 0 auto;
  }
}

.heroTitle .heroSearch {
  width: 50%;
  background-color: white;
  margin-top: 20px;
  margin-bottom: 15px;
  border-radius: 5px;
}

.heroTitle .heroSearch .search-area {
  width: 100%;
  height: 40px;
  border: 1px rgba(14, 19, 24, 0.07) solid;
  border-radius: 5px;
  display: flex;
  justify-content: left;
  line-height: 45px;
  padding-left: 15px;
}
.heroTitle .heroSearch .search-area img {
  width: 17px;
  margin-right: 15px;
}
.heroTitle .heroSearch .search-area .search-input {
  font-size: 15px;
  font-family: inherit;
  font-weight: 300;
  width: 100%;
  border: none;
  outline: none;
}
.heroTitle p a {
  font-size: 14px;
  color: inherit;
  border: none;
  text-decoration: none;
}
.heroTitle p a:hover {
  text-decoration: underline;
}
