* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  font-size: 12px;
  line-height: 1.7;
  font-family: 'Open Sans';
}
.container {
  width: 100%;
}
/* navigation area */
.main-nav {
  width: 98%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  border-top: 1px rgba(14, 19, 24, 0.07) solid;
  border-bottom: 1px rgba(14, 19, 24, 0.07) solid;
  margin: 0px auto;
  align-items: center;
}
.main-nav > div {
  margin-left: 15px;
}
@media (min-width: 500px) {
  .main-nav > div {
    margin-left: 15px;
  }
}
.main-nav .logo img {
  width: 55px;
}
.main-menu {
  height: 70px;
}
.main-menu-inner {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  height: 100%;
}

.main-menu-inner a {
  text-decoration: none;
  margin-right: 30px;
  line-height: 70px;
  color: black;
}
@media (min-width: 500px) {
  .main-menu-inner a {
    margin-right: 30px;
  }
}

.main-menu-inner a:hover svg path {
  fill: #00c4cc;
}
.main-menu-inner a:hover span {
  color: #00c4cc;
}
.main-menu-inner span {
  color: #0e1318;
}
.main-menu-inner .main-menu-home {
  font-weight: 700;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-menu-inner .main-menu-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-menu-home .empty {
  width: 100%;
  border-radius: 5px;
  border: 4px #00c4cc solid;
}
.main-menu-home .home {
  color: #0e1318;
  margin-top: 5px;
  padding-bottom: 13px;
  height: 75px;
  line-height: 52px;
}
.main-menu-plus:hover .home {
  color: #00c4cc;
}
.main-menu-inner .main-menu-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main-menu-item svg {
  margin-top: 2px;
  margin-left: 2px;
  width: 14px;
}

.search-bar {
  width: 750px;
}

.search-bar .search-area {
  margin-left: 350px;
  width: 400px;
  height: 45px;
  border: 1px rgba(14, 19, 24, 0.07) solid;
  border-radius: 5px;
  display: flex;
  justify-content: left;
  line-height: 45px;
  padding-left: 15px;
}
.search-bar .search-area img {
  width: 17px;
  margin-right: 15px;
}
.search-bar .search-input {
  font-size: 15px;
  font-family: inherit;
  font-weight: 300;
  width: 100%;
  border: none;
  outline: none;
}
.main-nav .help-btn a {
  color: black;
}
.main-nav .help-link {
  width: 40px;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  display: flex;
  justify-content: center;
  padding-top: 5px;
}
.main-nav .help-link:hover {
  background-color: gainsboro;
  border-radius: 4px;
}
.main-nav .setting-btn a {
  color: black;
}
.main-nav .setting-link {
  width: 40px;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  display: flex;
  justify-content: center;
  padding-top: 5px;
}
.main-nav .setting-link:hover {
  background-color: gainsboro;
  border-radius: 4px;
}
.main-nav .creating-btn {
  width: 140px;
  min-width: 140px;
  height: 45px;
}
.main-nav .creating-btn .btn-inner {
  color: #fff;
  background-color: #00c4cc;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 14px;
  font-family: inherit;
  outline: none;
}
.main-nav .creating-btn .btn-inner:hover {
  filter: brightness(110%);
}
.main-nav .account-btn {
  width: 40px;
}
.main-nav .account-btn img {
  width: 100%;
  border-radius: 50%;
}
/*
.search-bar .search-area {
  margin-left: 350px;
  width: 400px;
  height: 45px;
  border: 1px rgba(14, 19, 24, 0.07) solid;
  border-radius: 5px;
  display: flex;
  justify-content: left;
  line-height: 45px;
  padding-left: 15px;
}
.search-bar .search-area img {
  width: 17px;
  margin-right: 15px;
}
.search-bar .search-input {
  font-size: 15px;
  font-family: inherit;
  font-weight: 300;
  width: 100%;
  border: none;
  outline: none;
}
*/
.main-nav .creating-btn .design-area {
  width: 350px;
  height: 350px;
  border: 1px rgba(14, 19, 24, 0.07) solid;
  border-radius: 5px;
  overflow: scroll;
  padding-right: 0px;
  margin-left: -210px;
  margin-top: 10px;
  display: none;
}
.show {
  display: block !important;
}
.main-nav .creating-btn .drop-down {
  width: 100%;
}
.main-nav .creating-btn .drop-down .search-field {
  width: 100%;
  height: 40px;
  border-bottom: 1px rgba(14, 19, 24, 0.07) solid;
  display: flex;
  justify-content: left;
  line-height: 40px;
  padding-left: 15px;
}
.main-nav .creating-btn .drop-down .search-field img {
  width: 17px;
  margin-right: 15px;
}
.main-nav .creating-btn .drop-down .search-input {
  font-size: 15px;
  font-family: inherit;
  font-weight: 300;
  width: 100%;
  border: none;
  outline: none;
}
.main-nav .creating-btn .drop-down ul {
  list-style-type: none;
}
.main-nav .creating-btn .drop-down ul li {
  font-size: 15px;
  color: #0e1318;
  font-family: inherit;
  font-weight: 300;
  width: 100%;
  height: 40px;
  line-height: 40px;
}
.main-nav .creating-btn .drop-down ul li:hover {
  background-color: rgba(14, 19, 24, 0.07);
}
.main-nav .creating-btn .drop-down ul li:hover .secondary {
  display: inline;
}
.main-nav .creating-btn .drop-down ul li a {
  outline: none;
  text-decoration: none;
  color: inherit;
}
.main-nav .creating-btn .drop-down ul li a i {
  width: 40px;
  height: 20px;
  margin-left: 10px;
}
.main-nav .creating-btn .drop-down ul .ins-con {
  color: #ff6348;
}
.main-nav .creating-btn .drop-down ul .facebook-icon {
  color: #227093;
}
.main-nav .creating-btn .drop-down .dropdown-title {
  color: gray;
  font-size: 12px;
  margin: 10px 25px;
}
.main-nav .creating-btn .drop-down .secondary {
  margin-left: 10px;
  color: gray;
  font-size: 12px;
  display: none;
}
